html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 8px 2px #dbdbdb;
}

.header-page {
  position: relative;
  padding: 15px 0 17px;
}

.promo {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 508px;
  background-image: url("../img/svg/intro-mask.svg"), url("../img/index/main-photo.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: left calc(100% + 3px), 50% 0;
  background-size: 100% 60px, cover;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0 73px;
  list-style: none;
}

.navigation-item {
  margin-right: 112px;
  width: 128px;
}

.navigation-item:nth-child(3n) {
  margin-left: auto;
  text-align: right;
}

.navigation-item:nth-child(4n) {
  margin-right: 0;
  text-align: right;
}

.navigation-item a {
  display: inline-block;
  color: #000000;
  transition: all 0.3s;
}

.navigation-item a:hover {
  color: #81b3d2;
}

.navigation-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-active a {
  color: #766357;
}

.navigation-active a:focus {
  color: #766357;
}

.navigation-active a:hover {
  color: #766357;
}

.intro-welcome-text {
  margin-top: 75px;
}

.advantage-section {
  margin: 0 auto;
  padding: 60px 0 50px;
  width: 500px;
  text-align: center;
}

.advantage-section-text {
  margin: 0 auto 30px;
  width: 440px;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.advantage-section-desc {
  margin: auto;
  width: 490px;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  background-color: #ffffff;
  text-align: center;
  font-weight: 400;
}

.advantage-real {
  display: flex;
  margin: 0;
}

.advantage-real-box {
  padding: 45px 55px 60px;
  width: 400px;
  background-color: #81b3d2;
}

.advantage-real-title {
  margin: 0 auto 25px;
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  background-color: #81b3d2; /*Искуственный фон*/
}

.advantage-real-text {
  margin: 0 auto 25px auto;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  background-color: #81b3d2;
}

.advantage-real-desc {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  background-color: #81b3d2;
}

.advantage-real-photo {
  background-size: cover;
  width: 800px;
  background-image: url("../img/index/real-photo.jpg");
  background-repeat: no-repeat;
}

.presence-advantage {
  margin: 0 auto;
  padding: 160px 0 85px;
}

.presence-advantage-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-left: 0;
  list-style: none;
  background-color: #ffffff;
}

.presence-advantage-item {
  width: 400px;
  padding: 0 55px;
}

.presence-advantage-title {
  position: relative;
  margin: 0 auto 20px auto;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-align: center;
}

.presence-advantage-home::before {
  content: "";
  position: absolute;
  bottom: 50px;
  right: 110px;
  background-image: url("../img/svg/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 75px;
  height: 72px;
}

.presence-advantage-eats::before {
  content: "";
  position: absolute;
  bottom: 50px;
  right: 110px;
  background-image: url("../img/svg/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 74px;
  height: 70px;
}

.presence-advantage-souvenirs::before {
  content: "";
  position: absolute;
  bottom: 50px;
  right: 110px;
  background-image: url("../img/svg/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 64px;
  height: 76px;
}

.presence-advantage-desc {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-align: center;
  font-weight: 400;
}

.bridge-advantage {
  display: flex;
}

.bridge-advantage-box {
  margin: 0 auto;
  padding: 45px 45px 60px;
  width: 400px;
  background-color: #81b3d2;
}

.bridge-advantage-title {
  margin: 0 auto 25px;
  width: 155px;
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  background-color: #81b3d2; /*фон*/
}

.bridge-advantage-text {
  margin: 0 auto 25px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  background-color: #81b3d2;
}

.bridge-advantage-desc {
  margin: 0 auto;
  width: 320px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  background-color: #81b3d2; /*фон*/
}

.bridge-advantage-photo {
  width: 800px;
  background-image: url("../img/index/bridge-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.advantage-beauty-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 0 45px;
  list-style: none;
  background-color: #eeeeee;
}

.advantage-beauty-item {
  padding: 0 72px;
  width: 400px;
}

.advantage-beauty-title {
  margin: 0 auto 25px auto;
  padding: 45px 0 0;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-align: center;
}

.advantage-beauty-text {
  margin: 0 auto 25px auto;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-align: center;
  font-weight: 400;
}

.advantage-beauty-desc {
  padding: 0;
  margin: 0 auto;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-align: center;
  font-weight: 400;
}

.interested-section {
  margin: 0 auto;
  padding: 50px 0 0;
}

.interested-text {
  margin: 0 auto 30px;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
}

.interested-desc {
  width: 445px;
  margin: 0 auto 50px auto;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  text-align: center;
  font-weight: 400;
}

.choose-hotel-box {
  position: relative;
}

.choose-hotel-date {
  display: block;
  transition: all 0.3s;
  margin: 0 auto;
  padding: 30px;
  width: 568px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  background-color: #766357;
}

.choose-hotel-date:hover {
  color: #ffffff;
  background-color: #604e43;
}

.choose-hotel-date:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.choose-hotel-form {
  margin: 0 auto -381px auto;
  padding: 55px 56px 58px;
  width: 568px;
  background-color: #ffffff;

}

.choose-hotel-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.choose-hotel-input {
  transition: 0.3s;
}

.choose-hotel-item {
  position: relative;
  display: flex;
  margin: 0 auto 30px;
}

.choose-hotel-item-grown {
  display: flex;
  width: 230px;
}

.choose-hotel-item label {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin: auto 15px auto 0;
  padding: 0;
  width: 97px;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.choose-hotel-item input {
  margin: 0;
  padding: 9px 40px 9px 15px;
  width: 345px;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  outline: none;
}

.choose-hotel-item input:hover {
  border-color: #eaeaea;
  background-color: #eaeaea;
}

.choose-hotel-item input:focus {
  background-color: #ffffff;
  border-color: #e4e4e4;
}

.choose-hotel-item input::placeholder {
  font: inherit;
  color: inherit;
  opacity: 1;
}

.choose-hotel-item .grown-minus {
  position: relative;
  padding: 12px 0 12px 0;
  width: 38px;
  color: #a7a7a7;
  border: none;
  background-color: transparent;
  transition: 0.3s;
  outline: none;
  cursor: pointer;
}

.grown-minus:hover path,
.grown-minus:focus path {
  stroke: #000000;
}

.grown-minus:active path {
  stroke: #90b1cf;
}

.choose-hotel-item .grown-form {
  margin-right: -38px;
  margin-left: -38px;
  padding: 9px 38px;
  width: 114px;
  text-align: center;
  border: 2px solid #f2f2f2;
  outline: none;
}

.choose-hotel-item .grown-plus {
  position: relative;
  padding: 12px 0 12px 0;
  width: 38px;
  color: #a7a7a7;
  border: none;
  background-color: transparent;
  transition: 0.3s;
  outline: none;
  cursor: pointer;
}

.grown-plus:hover path,
.grown-plus:focus path {
  stroke: #000000;
}

.grown-plus:active path {
  stroke: #90b1cf;
}

.choose-hotel-item-children {
  display: flex;
  margin-left: auto;
  transition: 0.3s;
}

.choose-hotel-item-children > .children {
  margin-right: 15px;
  width: 50px;
}

.choose-hotel-item .children-minus {
  position: relative;
  padding: 12px 0 12px 0;
  width: 38px;
  border: none;
  color: #a9a9a9;
  background: transparent;
  cursor: pointer;
  outline: none;
}

.children-minus:hover path,
.children-minus:focus path {
  stroke: #000000;
}

.children-minus:active path {
  stroke: #90b1cf;
}

.grown-form::-webkit-outer-spin-button,
.grown-form::-webkit-inner-spin-button,
.children-form::-webkit-outer-spin-button,
.children-form::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.children-form,
.grown-form {
  -moz-appearance: textfield;
}

.choose-hotel-item .children-form {
  margin-left: -38px;
  margin-right: -38px;
  padding: 9px 38px;
  width: 114px;
  text-align: center;
}

.choose-hotel-item .children-plus {
  position: relative;
  padding: 12px 0 12px 0;
  width: 38px;
  border: none;
  color: #a9a9a9;
  background: transparent;
  cursor: pointer;
  outline: none;
}

.children-plus:hover path,
.children-plus:focus path {
  stroke: #000000;
}

.children-plus:active path {
  stroke: #81b3d2;
}

.button-calendar {
  position: absolute;
  right: 10px;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 22px;
  background-color: transparent;
  border: none;
  transform: translateY(-50%);
  outline: none;
  cursor: pointer;
}

.button-calendar svg {
  flex-shrink: 0;
}

.button-calendar path {
  transition: 0.3s;
}

.button-calendar:hover path,
.button-calendar:focus path {
  fill: #000000;
}

.button-calendar:active path {
  fill: #6da6e3;
}

.button-search {
  border: none;
  width: 458px;
  padding: 18px 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
}

.button-search:hover {
  padding: 18px 0;
  font-size: 21px;
  line-height: normal;
  color: #ffffff;
  background-color: #669ec0;
}

.button-search:active {
  padding: 18px 0;
  font-size: 21px;
  line-height: normal;
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.map {
  height: 593px;
  margin-bottom: -120px;
  font-size: 0;
}

.footer-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  margin: 0;
  padding: 22px 100px 25px 130px;
  background-color: rgba(255, 255, 255, 0.9);
}

.hashtag {
  margin: 0;
  padding: 30px 0 0 0;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 152px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
  transition: 0.3s;
}

.social-button:hover {
  background-color: #6da6e3;
}

.social-button:active {
  background-color: #3b6db8;
}

.social-button:active path {
  fill: #7699cd;
}

.html-link {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.website-by {
  margin: 0 10px 0 0;
  padding-top: 30px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.academy-link {
  padding-top: 25px;
}

.academy-link:hover path {
  fill: #6da6e3;
  transition: 0.3s;
}

.academy-link:active path {
  fill: #b9b6b8;
}

/*      ВТОРОЙ ЛИСТ       */


.filter {
  background-image: url("../img/hotels/background-photo.jpg");
  background-repeat: no-repeat;
  padding: 30px 70px 30px 70px;
  color: #ffffff;
}

.filter-items {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-list {
  margin-right: 110px;
}

.filter-title {
  margin: 0 0 25px 0;
}

.filter-feature {
  margin-bottom: 20px;
}

.filter-feature-wi-fi {
  font-weight: normal;
  margin: 0;
}

.filter-feature-appartament {
  margin: 0;
  font-weight: normal;
}

.filter-feature label {
  position: relative;
  font-weight: normal;
  padding-left: 40px;
  cursor: pointer;
}

.filter-feature-input:focus + label {
  outline: auto;
}

.filter-feature-input + label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/svg/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-feature-input:checked + label::before {
  background-image: url("../img/svg/checkbox-on.svg");
}

.filter-feature-input:disabled + label::before {
  background-image: url("../img/svg/checkbox-off-disabled.svg");
}

.filter-feature-input:checked:disabled + label::before {
  background-image: url("../img/svg/checkbox-on-disabled.svg");
}

.filter-range {
  margin: 0 0 0 auto;
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-price {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls input::-webkit-outer-spin-button,
.price-controls input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-controls input {
  -moz-appearance: textfield;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  padding-top: 5px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 150px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 23px;
  background-image: url("../img/svg/filter-button.svg");
  background-size: 20px 23px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.range-toggle:hover {
  top: -10px;
  width: 22px;
  height: 25px;
  background-image: url("../img/svg/filter-button.svg");
  background-size: 22px 25px;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-min:hover {
  transform: translateX(-1px);
}

.range-toggle-max {
  left: 80%;
}

.range-toggle-max:hover {
  transform: translateX(-1px);
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.filter-hotels {
  display: flex;
  position: relative;
  align-items: center;
  padding: 30px 70px 35px 70px;
  background-color: #ffffff;
}

.result-title {
  margin: 0 60px 0 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.sorting {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorting:hover,
.sorting:focus {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting:active {
  color: #000000;
  border-bottom: 1px dotted rgba(0, 0, 0, 0);
}

.sorting-result {
  margin-right: 35px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  border-bottom: 1px dotted rgba(0, 0, 0, 0);
}

.sorting-price {
  margin-right: 30px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
}

.sorting.sorting-active {
  color: #90b1d0;
  border-bottom: 1px dotted rgba(0, 0, 0, 0);
}

.sorting-type {
  margin-right: 30px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sorting-rating {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sorting-arrows {
  display: flex;
  justify-content: flex-end;
  margin-left: 480px;
  width: 50px;
}

.sorting-arrows-up:hover path {
  fill: #231f20;
}

.sorting-arrows-up:focus path {
  fill: #81b3d2;
}

.sorting-arrows-up:active path {
  fill: #81b3d2;
}

.sorting-arrows-down {
  padding-left: 13px;
}

.sorting-arrows-down:hover path {
  fill: #231f20;
}

.sorting-arrows-down:focus path {
  fill: #81b3d2;
}

.sorting-arrows-down:active path {
  fill: #81b3d2;
}

.sorting-active path {
  fill: #81b3d2;
}

.hotels-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hotel-type {
  display: inline-block;
  margin: 0 20px 0 0;
  padding: 0;
  width: 100px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.hotel-value {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.hotel-item {
  display: flex;
  position: relative; /*fffffffffffffffffffffffffffffffffffffffffffffffffffffffffff*/
  margin: 0;
  padding: 30px 70px;
  border-top: 1px solid #e5e5e5;
}

.hotel-item-footer {
  border-bottom: 1px solid #e5e5e5;
}

.hotel-item > a {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.hotel-item img {
  position: relative;
  margin-right: 30px;
  width: 135px;
  height: auto;
}

.hotels-info {
  margin: 0;
  padding: 0;
  width: 270px;
}

.hotel-title {
  margin: 0;
  padding: 0;
}

.hotel-link {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  transition: 0.3s;
}

.hotel-link:hover {
  color: #81b3d2;
}

.hotel-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-information {
  display: inline-block;
  margin-right: 10px;
  padding: 3px 0;
  width: 110px;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  background-color: #81b3d2;
  color: #ffffff;
  transition: 0.3s;
}

.hotel-information:hover {
  background-color: #669ec0;
}

.hotel-information:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.hotel-booking {
  display: inline-block;
  padding: 3px 0;
  text-align: center;
  width: 145px;
  background-color: #766357;
  color: #ffffff;
  transition: 0.3s;
}

.hotel-booking:hover {
  background-color: #604e43;
}

.hotel-booking:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-rating {
  position: relative;
  margin: 60px 0 0 auto;
  padding: 3px 15px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #666666;
  background-color: #f2f2f2;
}

.stars-5::before {
  content: "";
  position: absolute;
  top: -65px;
  right: 0px;
  background-image: url("../img/svg/star.svg");
  background-repeat: repeat-x;
  width: 90px;
  height: 17px;
}

.stars-4::before {
  content: "";
  position: absolute;
  top: -65px;
  right: 0px;
  background-image: url("../img/svg/star.svg");
  background-repeat: repeat-x;
  width: 72px;
  height: 17px;
}

.stars-3::before {
  content: "";
  position: absolute;
  top: -65px;
  right: 0px;
  background-image: url("../img/svg/star.svg");
  background-repeat: repeat-x;
  width: 55px;
  height: 17px;
}

.stars-2::before {
  content: "";
  position: absolute;
  top: -65px;
  right: 0px;
  background-image: url("../img/svg/star.svg");
  background-repeat: repeat-x;
  width: 35px;
  height: 17px;
}

.stars-1::before {
  content: "";
  position: absolute;
  top: -65px;
  right: 0px;
  background-image: url("../img/svg/star.svg");
  background-repeat: repeat-x;
  width: 19px;
  height: 17px;
}
