html {
	box-sizing: border-box;
}	

*,
*::before,
*::after {
box-sizing: inherit; 
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

body {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	background-color: #f2f2f2;

}

.visually-hidden {
	position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
	width: 1200px;
	margin: 0 auto;
	background-color: #ffffff;
}

.header-page {
	position: relative;
	padding: 15px 0 17px;
}

.promo {		
	display: flex;
	justify-content: center;
	margin-bottom: 35px;
	width: 100%;	
	min-height: 508px;
 	background-image: url("../img/svg/intro-mask.svg"), url("../img/index/main-photo.jpg");
	background-repeat: no-repeat, no-repeat;
	background-position: left calc(100% + 3px), 50% 0;
	background-size: 100% 60px, cover;
}

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	background-color: #ffffff; /*стили навигации*/
}

.main-header-logo {
	position: absolute;
	top: 0;
	left:50%;
	transform: translateX(-50%);
}

.navigation-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
	padding: 0 73px;
	list-style: none;
}

.navigation-item {
	margin-right: 112px;
}

.navigation-item:nth-child(3n){
	margin-left: auto;
	text-align: right;
}

.navigation-item:nth-child(4n){
	margin-right: 0;
	text-align: right;
}

.navigation-item a { 
	display: inline-block;
	min-width: 128px;
	color: #000000;
}

.navigation-item a:hover { /*наведение*/
	color: #81b3d2;
}

.navigation-item a:active  { /*нажатие*/
	color: rgba(0, 0, 0, 0.3);
 }

.navigation-active a{
	color: #766357;
}
.navigation-active a:focus {
	color: #766357;
}

.navigation-active a:hover {
	color: #766357;               /*Очень смешно, но не могу понять что это за классы. Скорее всего ранее этот класс ьыл удален*/
}

.intro-welcome-text {
	margin-top: 75px;
}

.advantage-section {	
	margin:0 auto;
	width: 500px;
	text-align: center;
}

.advantage-section-text {
	margin: 0;
	padding-bottom: 30px;
	width: 440px;	
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	background-color: #ffffff;
	text-align: center;
}

.advantage-section-desc {
	margin: 0;
	padding-bottom: 60px;
	width: 490px;	
	font-size: 14px;
	line-height: 26px;
	color: #333333;
	background-color: #ffffff;
	text-align: center;
	font-weight: 400;
}

.advantage-real {
	margin: 0;
	padding-bottom: 60px;
	display: flex;
	flex-wrap: wrap;
		
}

.advantage-real-box{
	width: 400px;
  background-color: #81b3d2;
}

.advantage-real-title {
	margin: 0;
	padding-top: 45px;
	padding-bottom: 20px;
	font-size: 21px;
	line-height: 21px;
	color: #ffffff;
	text-align: center;
	background-color: #81b3d2; /*Искуственный фон*/
}

.advantage-real-text {
	margin: 0;
	padding-bottom: 25px; 
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	text-align: center;
	font-weight: 400;
	background-color: #81b3d2;
}

.advantage-real-desc {
	margin: 0px 50px 0px 50px;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	text-align: center;
	font-weight: 400;
	background-color: #81b3d2;
}

.advantage-real-photo {	
	width: 800px;
	height: 256px;
	background-image: url("../img/index/real-photo.jpg");
	background-repeat: no-repeat; 
}

.presence-advantage {
	margin: 0 auto;
	background-color: #eeeeee;
}

.presence-advantage-list {
	margin: 0 auto;
	padding-left: 0px;
	padding-bottom: 85px;
	display: flex;
	flex-wrap: wrap;
	justify-content:space-around;	
	list-style: none;
	background-color: #ffffff;	
}    

.presence-advantage-item {
	width: 290px;
}

.presence-advantage-title {
	margin: 0;
	padding-bottom: 20px;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	text-align: center; 
}

.presence-advantage-desc {
	margin: 0;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	text-align: center;
	font-weight: 400;
}

.bridge-advantage {
	display: flex;	
}
.bridge-advantage-box {
	width: 400px;
    background-color: #81b3d2;
}

.bridge-advantage-title { 
	margin: 0;
	padding: 45px 50px 25px 50px; 
	font-size: 21px;
	line-height: 21px;
	color: #ffffff;
	text-align: center; 
	background-color: #81b3d2;  /*фон*/
} 

.bridge-advantage-text {
	margin: 0;
	padding-bottom: 25px;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	text-align: center;
	font-weight: 400;
	background-color: #81b3d2; 
}

.bridge-advantage-desc {
	margin: 0;
	padding: 0px 50px 0px 50px;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	text-align: center;
	font-weight: 400;
	background-color: #81b3d2;  /*фон*/
}

.bridge-advantage-photo {	
	width:800px;
	height:256px;
	background-image: url("../img/index/bridge-photo.jpg");
	background-repeat: no-repeat
}

.advantage-beauty-list {
	display: flex;
	flex-wrap: wrap;
	justify-content:space-around;
	margin: 0 auto;
	list-style: none;
	background-color: #eeeeee;
}

.advantage-beauty-item {
	width: 270px;
}

.advantage-beauty-title {
	margin: 45px auto 25px auto;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	text-align: center; 
}

.advantage-beauty-text {
	margin-bottom: 25px;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	text-align: center;
	font-weight: 400;
}	

.advantage-beauty-desc {
	margin-bottom: 65px;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	text-align: center;
	font-weight: 400;
}

.interested-text {
	margin-bottom: 35px;
	font-size: 21px;
	line-height: 36px;
	color: #000000;
	text-align: center;
}
.interested-desc {
	width: 445px;
	margin: 0 auto 50px auto;
	font-size: 14px;
	line-height: 24px;
	color: #333333;
	text-align: center;
	font-weight: 400;
}

.choose-hotel-box {
	width: 575px;
}

.choose-hotel-date {
	display: flex;
    width: 575px;
    margin: 0 auto;
    margin-bottom: 70px;
    padding: 30px;
    text-align: center;
}

.academy-link {
	margin-top: 40px;
}

.choose-hotel-item label {
	margin-left:50px;
}

.choose-hotel-list {
	list-style: none;
}

.choose-hotel-date {	
	font-size: 21px;
	line-height: 26px;	
	text-align: center;
	color: #ffffff;   
	background-color: #766357; 
}

.choose-hotel-date:hover  { 
	color: #ffffff;         
	background-color: #604e43;   
}

.choose-hotel-date:active  { 
	color: rgba(255, 255, 255, 0.3);  
	background-color: #503e33;          
}

.choose-hotel-item label { 
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	text-align: center;
}

.choose-hotel-item input {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	background-color: #f2f2f2; 	
}

.choose-hotel-item input:hover {
	font-size: 14px;
	color: #000000;
	background-color: #ebebeb;  
}

.choose-hotel-item input:focus {
	font-size: 14px;
	color: #000000;
	background-color: #ffffff;  
}

.button-search {
	width: 458px;
	height: 58px;
	font-size: 21px;
	color: #ffffff;
	background-color:#81b3d2;
}

.button-search:hover {
	font-size: 21px;
	line-height: normal;
	color: #ffffff;
	background-color:#669ec0;
}

.button-search:active {
	font-size: 21px;
	line-height: normal;
	color: rgba(255, 255, 255, 0.3);
	background-color:#5496bd;
}

.footer-page {
	display: flex;
	background-color: #f9fbf6;
}

.hashtag {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	margin: 50px 250px 50px 130px;
}

.social-list {
	display: flex;
	list-style: none;
	background-color: #81b3d2;
	margin: 40px 230px auto 0px;
	width: 150px;
}

.website-by {
	font-size: 14px;
	line-height: 26px;
	margin: 50px 10px;
}





/*      ВТОРОЙ ЛИСТ       */





.filter {
	
	background-image: url("../img/hotels/background-photo.jpg");
	background-repeat: no-repeat;
}

.filter-items {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.filter-list:nth-child(1){
	margin: 30px 110px 25px 70px;	
}

.filter-list {
	margin: 30px 0 25px 0;
}

.filter-list-price { /*sssssssssssssssssssssssssssssssssssssssssssssssssss*/

}

.filter-price {
	display: flex;
}

.filter-hotels {
	display: flex;
	background-color: #ffffff;
}

.filter-title {
	margin: 0;
}

.result-title {
	margin: 30px 40px 30px 70px;
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

.sorting {
	margin-top: 40px;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}

.sorting-result {
	margin-right: 35px;
	color: #000000;
}

.sorting-price {
	margin-right: 30px;
	color: rgba(0, 0, 0, 0.3);
}

.sorting-price:hover {
	color: #81b3d2;
}

.sorting-price:active { 
	color: #000000;
}

.sorting-type {
	margin-right: 30px;
	color: rgba(0, 0, 0, 0.3); 
}

.sorting-type:hover {
	color: #81b3d2;
}

.sorting-type:active {  
	color: #000000;
}

.sorting-rating {
	color: rgba(0, 0, 0, 0.3); 
}

.sorting-rating:hover {
	color: #81b3d2;
}

.sorting-rating:active {  
	color: #000000;
}

.hotels-list {
	list-style-type: none;
}

.hotel-type {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.hotel-value {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.hotel-item > a {
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
}

.hotel-link {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

.hotel-link:hover {
	color: #81b3d2;
}

.hotel-link:active {
	color:  rgba(0, 0, 0, 0.3);
}

.hotel-information {
	background-color: #81b3d2;
}

.hotel-information:hover {
	background-color: #669ec0;
}
.hotel-information:active {
	color:  rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.hotel-booking {
	background-color: #766357;
}

.hotel-booking:hover {
	background-color: #604e43;
}

.hotel-booking:active {
	background-color: #503e33;
	color:  rgba(255, 255, 255, 0.3);
}

.hotel-rating-hotel {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #666666;
	background-color: #f2f2f2;
}
